@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url(./normalize.css);

.ibm-plex-mono-light {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    --primary-clr: #5300C8;
    --txt-clr-light: #ebddff;
    --txt-clr-dark: #1b0a33;
}

html {
    background: linear-gradient(0deg, #5300c813, #ff56e323), radial-gradient(closest-side, #5300c81e, #ebddff17)0/ 1em 1em;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    color: var(--txt-clr-dark);
}

nav {
    display: grid;
    place-items: center;
    background-color: var(--primary-clr);
    padding: 1rem;
}

[data-brand] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
        width: 4.7rem;
    }

    h1 {
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 2.2rem;
        color: var(--txt-clr-light);
    }
}

main {
    /* background-color: yellowgreen; */
    display: grid;
    grid-template-rows: auto 2fr;
    grid-template-areas: "form" "section";

    h2 {
        font-family: "Pixelify Sans", sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 1rem 2vw;

        &::after {
            content: ":";
        }
    }
}

[data-products] {
    /* background-color: hotpink; */
    grid-area: section;
    padding: 1rem 2vw;

    ul {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
        justify-content: center;


        li {
            border: 2px solid var(--primary-clr);
            background-color: var(--primary-clr);
            color: var(--txt-clr-light);
            border-radius: 8px;
            max-width: 9rem;
            overflow: hidden;

            img {
                width: 100%;
                background-size: cover;
            }

            p {
                text-wrap: balance;
                padding: .4rem .8rem;
                font-weight: 400;
            }

            section {

                display: flex;
                align-items: center;
                padding: .4rem .8rem;

                div {
                    span {
                        font-weight: 600;

                        sup {
                            font-size: small;
                        }
                    }
                }

                i {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-image: url('../images/🦆\ icon-trash.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

            }
        }
    }
}

[data-form] {
    grid-area: form;
}

footer {
    display: grid;
    place-items: center;
    gap: .6rem;
    background-color: var(--primary-clr);
    color: var(--txt-clr-light);
    padding: 1rem;

    & small {
        font-size: small;
    }
}

@media (min-width: 640px) {

    [data-brand] {
        img {
            width: 8rem;
        }

        h1 {
            font-size: 4rem;
        }
    }
}